
body{
	color: #777;
	background: url("images/background.jpeg") repeat scroll 0 0 transparent;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'helvetica', 'helvetica', Serif;
	font-size: 13px;
	line-height: 1.8em;
	padding:0;
	height:100%;
	width:100%;
	position:relative;
}

a{
font-family: 'Century Gothic', Verdana, Arial, Sans-Serif;
text-transform: uppercase;
letter-spacing: 3px;
text-decoration: none;
}

h2{
	font-size: 18px;
	color: black;
	margin: 0;
	padding:0;
	font-weight: 400;
	font-family: 'Century Gothic', Verdana, Arial, Sans-Serif;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#wrapper{
	width: 100%;
	height: 100%;
	display:block;
	position:relative;

	left:0;
	/*border: solid #ddd 2px;*/
	margin:0;
	padding:0;
	display: block;

}


#logo{
	width: 1075px;
	margin-left: auto;
	margin-right: auto;
	height: 103px;
}

#logo img{display: block; margin-left: auto; margin-right: auto; width: 319px; height: 100px;}

#header{

	width: 1075px;
	color:#DDD;
	font-size: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 5px;
	margin-top: 15px;
	font-family: 'Century Gothic', Verdana, Arial, Sans-Serif;
	overflow: auto;
}


.center, .right, .left{
	display: inline-block;
	width: 33.3%;
	float: left;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}

#topNav{
	width: 100%;
	height: 100%
	text-align: center;
	margin-top: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Century Gothic', Verdana, Arial, Sans-Serif;
	overflow auto;
	
}

.mainNav{
	background-color: white;
	display: block;
	overflow: auto;
	margin: auto;
	width: 420px;
	z-index: 3;
	text-align: center;
}

.mainNav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	
}

.mainNav li{
	display: inline;
	overflow: auto;
}

.mainNav li + li{
	border-left: solid white 30px;
}

.centerNav {text-align: center;}
.rightNav {text-align: right;}
.leftNav {text-align: left;}

.mainNav a{
	color: grey;
	padding-bottom: 2px;
}

.mainNav a:hover{
	color: black;
	border-bottom: solid #DDD 2px;
}

.nav-divider1{
	width: 300px;
	border-bottom: solid #DDD 2px;
	margin-top: -1em;
	float: left;
	display: block-inline;
	z-index: -1;
}

.nav-divider2{
	width: 300px;
	border-bottom: solid #DDD 2px;
	margin-top: -1em;
	float: right;
	display: block-inline;
	z-index:-1;
}
/*END HEADER AND BODY STYLE*/

/*INDEX STYLE*/
#content-box{
	margin: auto;
	overflow: auto;
	margin-top: 30px;
	padding: 25px;
}

#content-box img{
	width:408px;
	height: 306px;
	float: left;
	padding: 4px;
	border: solid 1px #ddd;
	
}

.rightText{
	float: right;
	width: 580px;
}

#content-box a{
	float: right;
	color: black;
	text-decoration: none;
}

#content-box a:hover{
	color: #ddd;
}

#section-divider{
	width: 1075px;
	
	height: 10px;
}



#boxes{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 100%;
	overflow: auto;
	border: solid red 0px;
}

.box{
	width: 230px;
	height: 100%;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
	overflow: auto;
	font-size: 11px;
}

.box .thumb-title{
	padding-left: 6px;
	font-size: 15px;
	color: #777;
	margin: 0;
	font-weight: 400;
}

#boxes a:hover{
	color: #000;
}

#boxes img a:hover{
	border: solid 1px #000;
}

.box img{
	width: 210px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6px;
	padding: 4px;
	border: solid 1px #ddd;
}

.box img:hover{
	width: 210px;
	height: 130px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 6px;
	padding: 4px;
	border: solid 1px #777;
}
/*END INDEX STYLE*/

/*PORTFOLIO STYLE*/
#portfolioGrid{
	margin: auto;
	overflow: auto;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 80px;
	margin-bottom: 80px;
}
/*END PORTFOLIO STYLE*/

/*RESUME STYLE*/
#resume{
	margin: auto;
	overflow: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-left: 25px;
	padding-right: 25px;
}

#resume img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}

#resume a{
	text-align: center;
	color: #777;
}

#resume a:hover{
	color: #DDD;
}
/*END RESUME STYLE*/

/*CONTACT STYLE*/
#contact{
	width: 705px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-left: 25px;
	padding-right: 25px;
}
#contactL{
	width: 350px;
	float: left;
	}
#contactL a{
	color: #ccc;
	font-size: 85%;
}
.lineBreak{
	border-bottom: solid 2px #DDD;
	margin-top: 25px;
	margin-bottom: 20px;
	width: 310px;	
}

#contactR{
	width: 350px;
	float: right;
}
/*END CONTACT STYLE*/

/*FOOTER STYLE*/
#footer{
	padding: 25px;
	border-top: solid #DDD 2px;
	border-bottom: solid #DDD 2px;
	overflow: hidden;
}
#copyright{
	width: 300px;
	float: left;
}
#footerNav{
	float: right;
	width: 400px;
}

#footerNav ul{
	display: inline;
	list-style-type:none;
}
img.social{
	width: 35px;
	height: 35px;
	float: right;
	
}


/****** *******/
#content-box {

	position: relative;
	display:block;
	left:0;
	padding:0;
	width:66%;
	margin: 3em auto;
	background-color:rgba(0,0,0,0.6);
	border-radius:20px;
	height:500px;
	padding:2%;
	clear:both;

}

#content-box > div {

	position:relative;
	display:block;
	float:left;
	width:47.5%;
	height:100%;
	border-radius:20px;
	-firefox-border-radius:20px;

}

#content-box > div:last-child {

	/*this is the text css section*/
	margin-left: 5%;
	background-color:orange;

}


#content-box #slides {

	background-color:gray;


}

#content-box #slides .slides_container {

	display:block;
	height:100%;
	width:100%;
	position:relative;

	background-color:orange;
		border-radius:20px;
	-firefox-border-radius:20px;

}

.slides_container {

	width:100%;
	height:100%;
	display:block;
	position:relative;

}

#content-box .slides_container div {

	position: relative;
	height:90%;
	width:80%;
	display:block;
	margin:0 auto;

}

#content-box .slides_container div img {

	height:90%;
	max-width:80%;
	position:relative;
	display:block;
	margin: 0 auto;

}


#content-box #slides .slides_container .pagination {

	display:hidden;

}


/*END FOOTER STYLE*/
#content-box {
  position: relative;
  display: block;
  left: 0;
  padding: 0;
  width: 66%;
  margin: 3em auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  height: 500px;
  padding: 2%;
  clear: both; }
  #content-box > div {
    position: relative;
    display: block;
    float: left;
    width: 47.5%;
    height: 100%;
    border-radius: 20px;
    -firefox-border-radius: 20px; }
    #content-box > div:last-child {
      /*this is the text css section */
      margin-left: 5%;
      background-color: orange; }

#content-box > div:first-child div {
  display: none; }
  #content-box > div:first-child div:first-child {
    display: block; }
  #content-box > div:first-child div img {
    width: 100%; }
