body {
  background: url("../images/paper_bg.jpg");
  font-family: helvetica; }

#exit {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: none;
  background-color: rgba(0, 0, 0, 0.8); }

#title {
  position: relative;
  top: -200px;
  width: 40%;
  display: block;
  margin: 20px auto; }
  #title img {
    position: relative;
    width: 100%; }

#parent_window {
  width: 70%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 200px;
  border-radius: 200px;
  height: 500px; }

#tiles {
  position: absolute;
  width: 100%;
  height: 100%; }
  #tiles div {
    position: relative;
    cursor: pointer;
    float: left;
    width: 32.65%;
    overflow-y: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 1%;
    overflow: hidden;
    height: 100%;
    z-index: 2; }
    #tiles div:first-child {
      margin: 0; }
    #tiles div img {
      clear: both;
      display: block;
      width: 80%;
      margin: 0 auto; }
    #tiles div div.header {
      height: 100%;
      position: absolute;
      left: -1%;
      right: 0;
      width: 100%;
      bottom: -75%;
      -webkit-transition: all 1s;
      overflow: hidden;
      opacity: 1; }
      #tiles div div.header:hover {
        color: white;
        bottom: 0;
        opacity: 1; }
        #tiles div div.header:hover h1 {
          opacity: 1; }
        #tiles div div.header:hover hr {
          opacity: 1; }
        #tiles div div.header:hover h2 {
          color: white;
          top: 70px; }
      #tiles div div.header div.head, #tiles div div.header div.content, #tiles div div.header div.image_container {
        position: relative;
        display: block;
        width: 100%;
        height: 25%;
        background-color: transparent; }
      #tiles div div.header div.head {
        height: 40%; }
      #tiles div div.header div.content {
        margin-top: 20px; }
      #tiles div div.header div.image_container img {
        position: relative;
        display: block;
        width: 80%;
        margin: 0 auto; }

#parent_window #content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden; }
  #parent_window #content > div {
    border-radius: 20px;
    position: inherit;
    height: 80%;
    width: 80%;
    padding: 10%;
    left: -100%;
    z-index: 4;
    display: hidden;
    background-color: rgba(112, 66, 20, 0.8);
    color: white; }

#tiles div .header {
  opacity: 1;
  color: white; }
  #tiles div .header h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0em;
    font-size: 5em;
    text-align: center;
    opacity: 0.4; }
  #tiles div .header hr {
    opacity: 0.2; }
  #tiles div .header h2 {
    color: white;
    opacity: 1;
    position: relative;
    text-align: center;
    font-size: 1.7em;
    top: 0; }

#content > div .header h1 {
  position: relative;
  display: block;
  text-align: left;
  margin: 0;
  padding: 0; }
#content > div .box {
  width: 45%;
  margin: 0;
  padding: 2%;
  position: relative;
  display: block;
  float: left;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.8); }
  #content > div .box:last-child {
    margin-left: 2%; }
  #content > div .box img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 80%; }

#tiles > div .content {
  color: white; }
